[Desktop Entry]
Version=1.0
Type=Application
Name=kitty-tmuxless
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal without tmux
StartupNotify=true
Exec=sh -c "env TMUXLESS=1 kitty"
Icon=kitty
Categories=System;TerminalEmulator;
X-TerminalArgExec=--
X-TerminalArgTitle=--title
X-TerminalArgAppId=--class
X-TerminalArgDir=--working-directory
X-TerminalArgHold=--hold
